$background: rgb(255, 255, 255);
$background-transparent: rgba(255, 255, 255, 0);
$background-orange: rgba(255, 137, 0, .3);
$background-red: rgb(255, 230, 225);
$background-blue: rgb(220, 240, 255);
$background-green: rgb(230, 255, 230);
$background-gray: rgb(244, 244, 244);

$text: rgb(78, 78, 78);
$text-secondary: rgb(156, 156, 156);
$text-orange: rgb(255, 137, 0);

$orange: rgb(255, 137, 0);
$orange-light: rgb(255, 167, 64);
$red: rgb(255, 80, 0);
$blue: rgb(0, 170, 255);
$green: rgb(110, 220, 0);
$gray: rgb(220, 220, 220);
