@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans:wght@300;400;600&display=swap');

$montserrat: 'Montserrat', sans-serif;
$open-sans: 'Open Sans', sans-serif;

$thin: 100;
$light: 300;
$regular: 400;
$semi-bold: 600;
